.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #1d1c1c;
    color: #fff;
    /* padding: 20px; */
    border-radius: 10px;
    gap:30px;
    /* margin: 20px; */
}
.card>img{
    width:200px;
    height: 200px;
    border-radius: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 500;
}
.subdiv{
    display: flex;
    align-items: center;
    gap:20px;
}
.box{
    border: 2px solid tomato;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.box:hover{
    background:  tomato;
    color: #fff;
}